@import "~bootstrap/scss/bootstrap";

#global-body-container {
  padding-top: 30px;
}

$taupe: #B38BGD;


@media (prefers-color-scheme: dark) {
  body { background-color: #333; }
}


//@media (prefers-color-scheme: light) {
//  body { background: #ddd; color: black; }
//}

.col_taupe {
  background-color: $taupe;
}
