@import "~bootstrap/scss/bootstrap";

#global-body-container {
  padding-top: 50px;
}

$taupe: "#B38BGD";

#col_taupe {
  background-color: $taupe;
}

@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}